/Binaries
UDKGame/Content/GlobalShaderCache*.bin
UDKGame/Content/LocalShaderCache*.upk
UDKGame/Content/RefShaderCache*.upk
UDKGame/Content/GameAssetDatabase.checkpoint
UDKGame/Content/Maps/Custom
UDKGame/Content/OLGame
UDKGame/Logs/*
UDKGame/Script/*
UDKGame/Config/UDKEditor.ini
UDKGame/Config/UDKEditorKeyBindings.ini
UDKGame/Config/UDKEditorUserSettings.ini
UDKGame/Config/UDKEngine.ini
UDKGame/Config/UDKGame.ini
UDKGame/Config/UDKInput.ini
UDKGame/Config/UDKLightmass.ini
UDKGame/Config/UDKSystemSettings.ini
UDKGame/Config/UDKUI.ini
UDKGame/Config/UDKKismet_layoutAUI_INT.txt
UDKGame/Autosaves
Engine/Shaders/WorkingDirectory/
UDKGame/Config/UDKStaticMeshEditor_layoutAUI_INT.txt
UDKGame/Config/UDKMaterialInstanceEditor_layoutAUI_INT.txt
UDKGame/Config/UDKMaterialEditor_layoutAUI_INT.txt
UDKGame/Content/GameAssetDatabase.journal
UDKGame/Content/LocalShaderCache-PC-D3D-SM3.upk
UDKGame/Config/UDKAnimSetViewer_layoutAUI_INT.txt
UDKGame/Config/UDKPhAT_layoutAUI_INT.txt
UDKGame/Content/LocalShaderCache-PC-D3D-SM3.upk
UDKGame/Content/GameAssetDatabase.journal
UDKGame/Content/GameAssetDatabase.checkpoint
Development/Src/SpeedrunHelper/Output

; Exclude my mods
Development/src/GlitchiBoiPlayerModel
Development/src/GlitchTrapPMScript
Development/src/FatherMartinPMScript
Development/src/FaithPMScript
UDKGame/Content/PlayerModels
GlobalCompilieroptions/OutlastDir
UDKGame/Config/UDKSoundCueEditor_layoutAUI_INT.txt
